/*****************************************************************************/
/*Text colors
/*****************************************************************************/

.tex-color-green
	color: green

.tex-color-orange
	color: orange

.tex-color-purple
	color: purple

.tex-color-red
	color: red

.tex-color-blue
	color: blue

/*****************************************************************************/
/*Background colors
/*****************************************************************************/
.background-green
	background-color: green

.background-orange
	background-color: orange

.background-purple
	background-color: purple

.background-red
	background-color: red

.background-blue
	background-color: blue


.text-shadow-subtle
	text-shadow: 0.02em 0.02em 0.04em #909090