/*****************************************************************************/
/*Text colors
/*****************************************************************************/

.tex-color-green
	color: green

.tex-color-orange
	color: orange

.tex-color-purple
	color: purple

.tex-color-red
	color: red

.tex-color-blue
	color: blue

/*****************************************************************************/
/*Background colors
/*****************************************************************************/
.background-green
	background-color: green

.background-orange
	background-color: orange

.background-purple
	background-color: purple

.background-red
	background-color: red

.background-blue
	background-color: blue

/*****************************************************************************/
/*Some additional fonts
/*****************************************************************************/
.lobster
	font-family: 'lobster' !important

/*****************************************************************************/
/*Shadows
/*****************************************************************************/
shadowColor ?= #333 
headerShadowOpacity ?= 0.3

.shadow
	width: 100%
	z-index: 999
	-webkit-box-shadow: 0px 3px 5px rgba(shadowColor, headerShadowOpacity)
	-moz-box-shadow:    0px 3px 5px rgba(shadowColor, headerShadowOpacity)
	box-shadow:         0px 3px 5px rgba(shadowColor, headerShadowOpacity)

.text-shadow-subtle
	text-shadow: 0.02em 0.02em 0.04em #909090

/*****************************************************************************/
/*Coin
/*****************************************************************************/
.little_coin_logo
	display: inline-block
	width: 50px
	height: 50px
	border-radius: 50px
	-webkit-border-radius: 50px
	-moz-border-radius: 50px
	box-shadow: 0 0 8px rgba(0, 0, 0, .5)
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .5)
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .5)

.coin
	width: 130px
	height: 130px
	border-radius: 150px
	-webkit-border-radius: 150px
	-moz-border-radius: 150px
	box-shadow: 0 0 8px rgba(0, 0, 0, .8)
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8)
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8)

.coin_light
	width: 130px
	height: 130px
	border-radius: 150px
	-webkit-border-radius: 150px
	-moz-border-radius: 150px
	box-shadow: 0 0 8px rgba(0, 0, 0, .1)
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .1)
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .1)