footer
	.container
		.contact.row
			a.bluehover.clear-link(href='https://twitter.com/ftrianakast')
				i.fa.fa-twitter
			a.darkbluehover.clear-link(href='https://www.facebook.com/felipetc1')
				i.fa.fa-facebook
			a.yellowhover.clear-link(href='mailto:ftrianakast@gmail.com')
				i.fa.fa-envelope
			a.greenhover.clear-link(href='http://www.linkedin.com/in/ftrianakast')
				i.fa.fa-linkedin
			a.darkgrayhover.clear-link(href='https://github.com/ftrianakast')
				i.fa.fa-github
		.copyright
			h5 All rights are reserved. 
			h5.lobster Felipe Triana Castañeda &copy		