header.shadow
	.container
			.title
				a(href='/')
					.little_coin_logo
						h1 F
					.name
						h5 elipe Triana


			ul.nav.nav-tabs
				li 
					a(href='/')
						| Home
				li 
					a(href='/projects')
						| Proyectos
				li 
					a(href='/about')
						| Contacto
				li 
					a(href='/blog')
						| Blog