header
	.container
		.row-fluid.span12
			img(src='images/ft.png').img-header
			ul.nav.nav-tabs
				li 
					a.tex-color-green
						| Home
				li 
					a.tex-color-orange
						| About
				li 
					a.tex-color-blue
						| Contact
				li 
					a.tex-color-red
						| Blog