header#header.shadow
	.container
		.title
			a(href='/about')
				.little_coin_logo
					h1 F
				.name
					h3 elipe Triana


		ul.nav.nav-tabs
			li 
				a(href='/about')
					| About
			li 
				a(href='/blog')
					| Blog