extends layouts/layout

block content
	.row
		section#about.contact
			.row
				.pull-left.col-md-2
					.coin
				.content-text.pull-right.col-md-9
					h1 Profesión
					p Soy un artesano de software y minero de datos. En la actualidad mis intereses varían
						| entre ambas actividades intentando imaginar artefactos de software para decantar conocimientos
						| a partir de diversas fuentes de datos. Me gradué de la Universidad de los Andes, pasé por Softone SAS,
						| IBM y actualmente trabajo para Aentrópico: una empresa cuyo objetivo es democratizar el acceso a análisis pedictivos de punta.  
					.sub-contact
						.cv
							a
								i.fa.fa-download
								h4 Descargar CV
						.social
							a.bluehover.clear-link(href='https://twitter.com/ftrianakast')
								i.fa.fa-twitter
							a.darkbluehover.clear-link(href='https://www.facebook.com/felipetc1')
								i.fa.fa-facebook
							a.yellowhover.clear-link(href='mailto:ftrianakast@gmail.com')
								i.fa.fa-envelope
							a.greenhover.clear-link(href='http://www.linkedin.com/in/ftrianakast')
								i.fa.fa-linkedin
							a.darkgrayhover.clear-link
								i.fa.fa-github(href='https://github.com/ftrianakast')
					

		section#programming-languages.contact
			.row
				.pull-left.col-md-2
					.coin
						i.fa.fa-code
				.content-text.pull-right.col-md-9
					h1 Lenguajes de programación
					p Codifico por profesión, reto y por diversión. Java es mi lenguaje de formación.
						| Actualmente programo en nodejs y R, e intento aprender Scala. La elección de un lenguaje no depende de la comodidad del desarrollador:
						| depende del problema que se ataque.
					.languages-images
						a(href='http://www.java.com/es/')
							i.icon-java-bold
						a.hover-node(href='http://nodejs.org/')
							i.icon-nodejs
						a.hover-scala(href='http://www.scala-lang.org/')
							i.icon-scala-alt
						a.hover-r(href='http://www.r-project.org/')
							h5 R


		section#me.contact
			.row
				.pull-left.col-md-2
					.coin
						i.icon-splatter
				.content-text.pull-right.col-md-9
					h1 Sobre mí
					p Toco guitarra acústica desde la niñez; sin embargo nunca he alcanzado un nivel muy alto.
						| Futbolista aficionado. Me gusta el rock y la historia